<template>
    <VueMarkdown class="markdown markdown-body" :source="text"></VueMarkdown>
</template>

<script>
    import VueMarkdown from 'vue-markdown'

    export default {
        name: "Markdown",
        components:{
          VueMarkdown
        },
        props: {
            text: String
        },
        methods: {

        }
    }
</script>

<style scoped>
.markdown{
    padding: 16px;
    width: 50vw;
    overflow-y: auto;
    background: white;
}
</style>
<style src="../../node_modules/github-markdown-css/github-markdown.css"></style>