
<template>
    <div class="document">
        <DocumentInfo
                :users="document.users"
                :documentName="document.name"
                @save="save" @print="print"
                @documentNameChanged="updateDocumentName"></DocumentInfo>
        <Toolbar @print="print"
                 @bold="insertBold"
                 @italic="insertItalic"
                 @strike="insertStrikethrough"
                 @list="insertList"
                 @table="insertTable"
                 @code="insertCode">
        </Toolbar>
        <div class="editor-wrapper uk-flex">
            <TableOfContents :text="document.text" @jumpTo="jumpTo"></TableOfContents>
            <div class = "editor">
                <textarea id="editor" ref="text" :value="document.text"
                          @input="textChange($event.target.value)"></textarea>
            </div>
            <Markdown :text="document.text" id="print"></Markdown>
        </div>
    </div>
</template>

<script>
    import RandomEmoji from 'node-emoji';
    import Sentencer from 'sentencer';
    import Markdown from '../components/Markdown';
    import Toolbar from '../components/Toolbar';
    import DocumentInfo from "../components/DocumentInfo";
    import TableOfContents from '../components/TableOfContents'



    export default {
        name: "Document",
        props: {},
        components: {
            DocumentInfo,
            Markdown,
            Toolbar,
            TableOfContents
        },
        data: () => {
            return {
                document: {
                    name: "",
                    text: "",
                    users: [
                    ]
                },
                link: "empty-link"
            }
        },
        created: function () {
            this.link = this.$route.params.id;
        },
        sockets: {
            connect: function () {
                let adjective = Sentencer.make("{{ adjective }}");
                const emoji = RandomEmoji.random();

                while(!emoji.key.startsWith(adjective[0])) {
                    adjective = Sentencer.make("{{ adjective }}")
                }

                const clientUuid = adjective + " " + emoji.key;

                //const user = { "name" : clientUuid, "emoji" : emoji.emoji};

                //this.document.users.push(user);

                this.$socket.emit("recieveDocumentUuid", {"clientUuid": clientUuid, "documentUuid": this.link});
                console.log("recieveDocumentUuid called");
            },
            typing: function (data) {
                this.document.text = data.text;

                //set cursor position here @MR ->
                console.log(data.cursorPositions);

            },
            clientJoined: function(client) {
                const emoji = RandomEmoji.get(client.split(" ")[1]);

                const user = { "name" : client, "emoji" : emoji};

                this.document.users.push(user);
            },
            saveStatus: function(status) {
                if (status === true) {
                    alert("Document saved!");
                } else {
                    alert("RIP");
                }

            },
            documentNameChange: function(name){
                this.document.name = name;
            },
            clientLeft: function(client) {
                console.log(client);
                console.log(this.document.users);
                this.document.users = this.document.users.filter(user => {
                    if (user.name === client) {
                        return false;
                    } else {
                        return true;
                    }
                })
            }
        },
        methods: {
            textChange: function (text) {
                const cursorPosition = this.$refs.text.selectionStart;


                const data = {
                    "text": text,
                    "cursorPosition": cursorPosition
                };

                this.$socket.emit("typing", data);
                console.log("typing called");
            },
            insertBold: function () {
                this.insert(' **Bold** ');
            },
            insertItalic: function () {
                this.insert(' *Italic* ');
            },
            insertStrikethrough: function () {
                this.insert(' ~~Strikethrough~~ ');
            },
            insertList: function () {
                this.insert('* Item\r\n' +
                    '* Item\r\n' +
                    '* Item\r\n');
            },
            insertCode: function () {
                this.insert('```\r\npublic void ungarn(){\n' +
                    '    println(\'hansi\');\n' +
                    '}\r\n```');
            },
            insertTable: function () {
                this.insert("| Tables        | Are           | Cool  |\n" +
                    "| ------------- |:-------------:| -----:|\n" +
                    "| col 3 is      | right-aligned | $1600 |\n" +
                    "| col 2 is      | centered      |   $12 |\n" +
                    "| zebra stripes | are neat      |    $1 |\n")
            },
            insert: function (text) {
                const textarea = this.$refs.text;
                const startPos = textarea.selectionStart;
                const endPos = textarea.selectionEnd;

                //insert text
                this.document.text = this.document.text.substring(0, startPos) +
                text + this.document.text.substring(endPos, this.document.text.length);

                //TODO: Move cursor
            },
            save() {
                this.$socket.emit("saveDocument", {"content": this.document.text, "name": this.document.name});
            },
            print() {
                this.$htmlToPaper('print', () => {
                    console.log('Printing done or got cancelled!');
                });
            },
            updateDocumentName: function(name){
                this.document.name = name;
                this.$socket.emit("documentNameChange", name);
            },
            jumpTo: function(lineNumber){

            }

        }
    }
</script>

<style scoped>
    .document {
        height: 100vh;
    }

    .wrapper {
        padding: 8px 0;
    }

    .editor-wrapper{
        /* 100% - (toolbar height + documentinfo height + documentinfo padding + edtior padding)*/
        height: calc(100% - (42px + 52px + 16px + 16px));
    }

    .editor{
        border-right: 1px solid lightgrey;
    }

    .editor textarea {
        margin: 0;
        height: 100%;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        padding: 16px;
        border: none;
        resize: none;
        outline: none;
        font-size: 18px;
        display: inline-block;
        width: 50vw;
        vertical-align: top;
        box-sizing: border-box;
        background: #f6f6f6;

    }
</style>
